* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111111;
  color: white;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans,
    Helvetica Neue, Arial, sans-serif;
}

a{
  text-decoration: none;
}
